.logo {
  img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px 5px;
  }

  h1 {
    color: white;
    float: left;
    font-size: 18px;

    b {
      text-transform: uppercase;
    }
  }
}
