.search {
  padding-top: 10px;

  &__input {

    div {
      color: #CCCCCC !important;
      float: right;
    }

    input {
      color: #FFFFFF !important;
      float: right;
    }
  }

  &__icon {
    margin: 10px 5px;
  }
}
